* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    list-style-type: none;
    user-select: none;
}

#header-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#header-title {
    font-size: 55px;
    margin-top: 30px;
}

#section-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    
}

.boxes {
    display: flex;
    gap: 75px;
}

.box {
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
}

.player {
    width: 35px;
    align-self: flex-start;
    
}

section img {
    width: 175px;
}

.box:hover {
    position: relative;
    left: 5px;
    bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

div.results-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
}
.results-container > p:first-of-type {
    font-size: 24px;
    font-weight: bold;
}

.results-container > p:last-of-type {
    margin-top: 15px;
    font-size: 30px;
    font-weight: bold;
}

.game-result p {
    font-size: 19px;
    font-weight: 500;
}

.game-stats {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.game-stats p{
    font-size: 20px;
    font-weight: 300;
}

.btn-10 {
  transition: all 0.3s ease;
  overflow: hidden;
}
.btn-10:after {
  position: absolute;
  content: " ";
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
  -webkit-transform: scale(.1);
  transform: scale(.1);
}
.btn-10:hover {
  color: #fff;
}
.btn-10:hover:after {
  background: #000;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.custom-btn {
    width: 130px;
    height: 40px;
    padding: 10px 25px;
    border: 2px solid #000;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
  }

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    padding:7px;
    background-color: #aaa;
    width: 100%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
